.pink1 {
  background-color: pink;
}

.blue1 {
  background-color: lightblue;
}

.div1 {
  display: grid;
  grid-template-columns: 200px 75px;
  margin-bottom: 50px;
}

.div2 {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
  margin-bottom: 50px;
}

.div3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  margin-bottom: 50px;
}

p {
  font-family: Arial;
  margin: 0px 0px;
}

.profile-picture {
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 5px;
}

.friends {
  color: gray;
  display: inline-block;
  vertical-align: middle;
}

.add-friend {
  border: none;
  background-color: rgb(20, 120, 240);
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.profiles {
  vertical-align: top;
  margin-right: 15px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.mutual-friends {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 10px;
}

.mutual-friend-picture {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  margin-right: 5px;
  object-fit: cover;
  vertical-align: middle;
}

.container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-column-gap: 20px;
}
