.tahoma {
    font-family: Tahoma;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.arial {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -10px;
}

.sale {
    font-family: Arial;
    font-style: italic;
    color: red;
    margin-bottom: 50px;
}

.course {
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.BtoP {
    margin-top: 0px;
    font-family: Verdana;
    color: gray;
}

.description {
    font-family: Verdana;
    width: 300px;
}

.start {
    font-family: Verdana;
    background-color: green;
    color: white;
    border: none;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

.shopping {
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.apple {
    font-family: Arial;
    text-align: center;
    margin-bottom: 20px;
}

.link {
    font-family: Arial;
    text-align: center;
    color: rgb(58, 108, 199)
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}