body {
  height: 3000px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 50px;
}

.left-section {
  display: flex;
  align-items: center;
}

.profile-picture {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  font-weight: bold;
  margin-left: 10px;
}

.add-friend-button {
  background-color: rgb(25, 120, 240);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}

.message-button {
  background-color: rgb(230, 230, 230);
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}

/* Exercise 14f. Discord - double-sidebar */

.right-picture-bar {
  background-color: rgb(35, 35, 35);
  padding: 10px;
  position: fixed;
  top: 100px;
  left: 0px;
  bottom: 0;
}

.profile-picture1 {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  padding-bottom: 10px;
  cursor: pointer;
}

.right-info-bar {
  flex-direction: column;
  background-color: rgb(60, 60, 60);
  padding: 15px;
  width: 200px;
  position: fixed;
  top: 100px;
  left: 70px;
  bottom: 0;
}

.info-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.info {
  color: #fff;
}

.plus-icon {
  font-size: 25px;
  color: rgb(150, 150, 150);
  cursor: pointer;
}

.channels {
  color: rgb(150, 150, 150);
  margin-bottom: 15px;
  cursor: pointer;
}
