p {
  font-family: Arial;
  margin: 0px 0px;
}

.profile-picture {
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 5px;
}

.friends {
  color: gray;
  display: inline-block;
  vertical-align: middle;
}

.add-friend {
  border: none;
  background-color: rgb(20, 120, 240);
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.profiles {
  vertical-align: top;
  display: inline-block;
  margin-right: 15px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.mutual-friends {
  margin-left: 5px;
  margin-bottom: 10px;
}

.mutual-friend-picture {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  margin-right: 5px;
  object-fit: cover;
  vertical-align: middle;
}
