.search-bar {
  flex: 1;
  height: 36px;
  font-size: 16px;
  border: 1px solid rgb(200,200,200);
  border-radius: 3px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0;
}

.search-bar::placeholder {
    font-family: Robot, Arial;
    font-size: 16px;
    padding-left: 10px;
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.left-section {
    display: flex;
    align-items: center;
}
.middle-section {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}
.right-section {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.hamburger-menu {
    height: 25px;
    margin: 0px 25px;
}

.youtube-logo {
    height: 20px;
}

.search-btn {
    height: 40px;
    width: 66px;
    background-color: rba(240,240,240);
    border: 1px solid rgb(200,200,200);
    margin-left: -2px;
    margin-right: 10px;
}

.search-icon {
    height: 25px;
    margin-top: 4px;
}

.voice-search-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rba(245,245,245);
}

.voice-search-icon {
    height: 25px;
    margin-top: 4px;
}

.upload-icon {
    height: 25px;
}

.youtube-apps-icon {
    height: 25px;
}

.notifications-icon {
    height: 25px;
}

.notifications-icon-container {
    position: relative;
}

.notifications-count {
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: rgb(200, 0, 0);
    color: #fff;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding: 2px 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.current-user-picture {
    height: 33px;
    border-radius: 50%;
}