#search-bar {
  display: block;
}

.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    background-color: pink;
    width: 200px;
}
.middle-section {
    background-color: lightblue;
    flex: 1;
    margin-left: 75px;
    margin-right: 40px;
    max-width: 500px;
}
.right-section {
    background-color: pink;
    width: 250px;
}